In [1]:
N={1,3,4,5,7,8}
print('The sum of ∑_i∈N i*i =',sum( i**2 for i in N ) )

The sum of ∑_i∈N i*i = 164

Excercise-1: Python Variables
1.Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

2.Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

3.Store your first, middle and last name in three different variables and then print your full name using these variables

4.Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [19]:
Break = 5
Break

5

In [18]:
BirthYear = 1996
CurrentYear = 2024
Age =CurrentYear-BirthYear
Age

28

In [17]:
First=Sai,Middle=SatyanarayanaMurty
print(First + Middle)
#without being enclosed in the quotation marks, names are treated as variables, keywords or names as opposed to strings literals. so it is essential to enclose them in quotation marks

NameError: name 'SatyanarayanaMurty' is not defined

In [ ]:
#Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

_nation =1
1record=2#cannot begin with number
record1=3
record_one=4
record-one=5#minus is not allowed
record^one=6 #special charecters like this are not allowed
continue=7 #keywords cannot be used as variable names

Excercise-2 Numbers

1.You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
2.You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3.You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
4. Print binary representation of number 17

In [26]:
Length=92
Width=48.8
print('Area=', Length * Width) #By including the comma, it prints 'Area=' and the area value side by side on a single line.

Area= 4489.599999999999

In [27]:
No_of_Packets=9
Pkt_price=1.49
Amt_given=20
print('balance amount=', Amt_given-No_of_Packets*Pkt_price)

balance amount= 6.59

In [28]:
Length_of_tile = 5.5
Amont_per_sqft = (Length_of_tile)**2 * 500
print(Amont_per_sqft)

15125.0

In [29]:
num=17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

## Exercise 3: String in Python

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [42]:
Street= 'larwoodplace'
City='Milton Keynes'
Country='England'
print('Address:', Street + " " + City + " " + Country)
print(f" Address: {Street},{City},{Country}")

Address: larwoodplace Milton Keynes England
 Address: larwoodplace,Milton Keynes,England

In [49]:
lol= 'Earth revolves around sun'
print(lol[6:14])
print(lol[-3:])

revolves
sun

In [51]:
fruits= 2
vegetables=1
print(f"I eat {fruits} fruits and {vegetables} vegetables everyday")

I eat 2 fruits and 1 vegetables everyday

In [52]:
s= 'i am not as sophisticated person'
s= s.replace('not as', 'a')
print(s)

i am a sophisticated person

In [56]:
print("Hello,World")

Hello,World

## Rough work

In [ ]:
import copy

mystr = 'sai1'
type(mystr)
mystr = 'sai1'
mystr.isalnum()
mystr = 'sai'
mystr.isalnum()
## Lists
list()
print(list)
print(list())
print(type(list))
type(list())
print(type)

squares = [x ** 2 for x in range(10)]
print(squares)
a = [1, 2, 3, [45, 90]]
print(a)
b = a
print(b)
b = a.copy()
b
import copy

deep = copy.deepcopy(a)

a[3][1] = 3
print(deep)
print(b)

In [9]:
type(list())
print(type(list()))
set_var = set()
print(type(set_var))

<class 'list'>
<class 'set'>